# Python Environment
venv/
.venv/
env/
pyvenv.cfg
bin/
include/
lib/
lib64/

# Build & Distribution
build/
dist/
*.egg-info/

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# IDE & OS files
.vscode/
.idea/
.DS_Store

# Logs
*.log